/*!
 * Start Bootstrap - 4 Col Portfolio HTML Template (http://startbootstrap.com)
 * Code licensed under the Apache License v2.0.
 * For details, see http://www.apache.org/licenses/LICENSE-2.0.
 */

body {
    padding-top: 70px; /* Required padding for .navbar-fixed-top. Remove if using .navbar-static-top. Change if height of navigation changes. */
}

.portfolio-item {
    margin-bottom: 25px;
}

footer {
    margin: 50px 0;
}

.info-box {
    border-color: #0080FF;
    background-color: #2E9AFE;
    border-style: Solid;
    border-width: 2px;
    border-radius: 5px;
}